*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    padding: 2px;
}
.logo{
    background-image:url(../img/img/pattern.png);
    background-position: 0% 10%;
    background-color: #4EA0FF;
    padding-top: 90px;
    padding-bottom: 20px;
}
#logoimg{
    width: 200px;
}
main{
    padding: 20px;
}
.section1{
    padding-top: 30px;
    padding-bottom: 30px;
}
h1{
    font-size: 50px;
    font-weight: bold;
}
#subtitle{
    font-size: 15px;
    color: #888888;
}
#subtitle>span{
    color: #24AAE5;
}
.timberners{
    margin-top: 20px;
}
.list{
    margin-top: 20px;
    margin-bottom: 20px;
}
.table{
    text-align: left;
}
thead{
    background-color:#20A9E5;
    color: white;
    
}
.lorem{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 150px;
}
.color{
    background-color: #B1E5F2;
}

