*{
    margin: 0;
    box-sizing: border-box;
}

/* contenitore generale */
.container{
    width: 100%;
    padding: 2px;
}

/* header */
.logo{
    background-image:url(../img/img/pattern.png);
    background-position: 0% 10%;
    background-color: #4EA0FF;
    padding-top: 90px;
    padding-bottom: 20px;
}

#logoimg{
    width: 200px;
    margin-left: 90px;
}

/* main topic */
main{
    padding: 20px;
    margin-left: 90px;
    margin-right: 90px;
}

/* title snd images */
.section1{
    padding-top: 30px;
    padding-bottom: 30px;
}
h1{
    font-size: 50px;
    font-weight: bold;
}
#subtitle{
    font-size: 15px;
    color: #888888;
}
#subtitle>span{
    color: #24AAE5;
}
.timberners{
    margin-top: 20px;
}
#descriptionphoto{
    font-size: 10px;
}

/* description and list */
.list{
    margin-top: 20px;
    margin-bottom: 20px;
}
.table{
    text-align: left;
}
thead{
    background-color:#20A9E5;   
}
.ipsumcolor{
    color: white;
}
.lorem{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 150px;
}
.color{
    background-color: #B1E5F2;
}

/* footer */
footer {
    padding: 20px;
    margin-left: 90px;
    margin-right: 90px;
}

/* aside */
aside{
    padding: 20px;
    margin-left: 90px;
    margin-right: 90px;
}
#asidetext{
    color: #888888;
}
.bottomimages>div{
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 15px;
    height: 208px;
    width: 312px;
}
.img1{
    background-image: url(../img/img/monitor.jpg);
    background-size: contain;
}
.img2{
    background-image: url(../img/img/graph.jpg);
    background-size: contain;
}



